@code{
    [Parameter, EditorRequired]
    public required string Target { get; set; }
    [Parameter]
    public string Strategy { get; set; } = "innerHTML";


    [Parameter, EditorRequired]
    public required IComponent Content { get; set; }

    [Parameter]
    public bool ScrollToTop { get; set; } = false;

}
<div 
    hx-swap-oob="@Strategy:@Target">
    @if (ScrollToTop)
    {
        <div _="on load go to the top of #body-content then remove me"></div>
    }
    <Haondt.Web.Components.ObjectComponent Component="Content" />
</div>
