@using Hestia.Domain.Models
@using Hestia.Domain.Services
@using Hestia.UI.Library.Components.Components
@using Hestia.UI.Core.Components
@attribute [RenderPage]
@inject IUnitConversionsService UnitConversionsService
@inject IIngredientsService IngredientsService

@code {
    private List<(int Id, IngredientModel Ingredient)> _ingredients = new();

    protected override async Task OnInitializedAsync()
    {
        _ingredients = await IngredientsService.GetIngredientsAsync();
    }
}


<div _="on load send OnNavigate(value:'Ingredients') to #navbar then remove me"></div>

<div class="content-container mt-5">
    <div class="field is-grouped">
        <div class="control is-expanded">
            <form hx-get="/ingredients/search" hx-target="#ingredients-grid" hx-swap="outerHTML">
                <p class="control has-icons-left">
                    <input
                        _="
                            on input debounced at 200ms
                            send submit to the closest <form />
                        "
                        class="input is-fullwidth is-rounded" 
                        name="search" 
                        placeholder="search" 
                        type="search"
                        value="" />
                    <span class="icon is-small is-left"><LucideIcon Name="search" /></span>
                </p>
            </form>
        </div>
        <div class="control buttons">
            <div class="dropdown is-right">
                <div class="dropdown-trigger">
                    <a 
                        href="/ingredients/new"
                        class="button is-primary"
                        hx-boost="true"
                        hx-target="#page-container"
                    >
                        New ingredient
                    </a>
                </div>
            </div>
        </div>
    </div>

    <IngredientsGrid Ingredients="_ingredients" />

</div>
