@using Hestia.UI.Library.Components.Element
@using Hestia.Domain.Models
@typeparam T where T : IScannedIngredientData

@code {
    [Parameter]
    public required Guid ProcessingId { get; set; }
}

<Modal>
    <div id="scan-nutrition-label">
        <progress class="progress is-small is-primary" max="100"></progress>
        <ScanUpdate T="@T" ProcessingId="ProcessingId" />
    </div>
</Modal>