:root {
    --hestia-content-width: 1300px;
    --bulma-card-content-padding: 1rem;

  --bulma-hr-margin: 1rem 0;
        color-scheme: dark;
    --bulma-primary-h: 15deg;
    --bulma-primary-s: 74%;
    --bulma-primary-l: 55%;

    --bulma-link-h: 31deg;
    --bulma-link-s: 92%;
    --bulma-link-l: 54%;

    --bulma-danger-h: 0deg;
    --bulma-danger-s: 60%;
    --bulma-danger-l: 49%;

      --bulma-warning-h: 275deg;
  --bulma-warning-s: 30%;
  --bulma-warning-l: 63%;




  --bulma-scheme-h: 14;
  --bulma-scheme-s: 5%;
  --color-protein: #b63032;


}

@media(prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}

.toast {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.toast.created {
    opacity: 1;
}

.delete {
  --bulma-delete-background-alpha: initial;
  --bulma-delete-color: var(--bulma-danger);
  background-color: initial;
}

.navbar {
    --bulma-navbar-h: var(--bulma-link-h);
    --bulma-navbar-s: var(--bulma-link-s);
    --bulma-navbar-l: var(--bulma-link-l);
}

.navbar-item.is-tab {
    border-bottom: initial;
}

.navbar-item.is-tab.is-active {
    color: var(--bulma-link-text);
    border-bottom: initial;
    padding-bottom: calc(.5rem - 1px); /* taken from .navbar-item.is-tab */
}



.button {
  --bulma-button-weight: var(--bulma-weight-normal);
}

.content-container {
    max-width: var(--hestia-content-width);
    margin: auto;
    width: calc(100% - 40px);
}

.recipe-card-tag {
    position: absolute;
    z-index: 100;
    top: 0.5rem;
    left: 0.5rem;
}

.card {
    box-shadow: initial;
    border-width: 1px;
    border-style: solid;
    border-color: hsl(var(--bulma-scheme-h),var(--bulma-scheme-s),calc(var(--bulma-border-l)));
    transition: border-color 1s ease;
}

.card:hover {
    border: 1px solid var(--bulma-link-text);
    transition-duration: initial;

}

.card-content {
    --bulma-card-content-padding: 1rem;
}

.icon.is-8x {
        height: 9em;
        width: 9em;
}
.icon.is-7x {
        height: 8em;
        width: 8em;
}
.icon.is-6x {
        height: 7em;
        width: 7em;
}

.has-width-full {
    width: 100%;
}
.has-height-full {
    height: 100%;
}


.gap-0 { gap: 0; }
.gap-1 { gap: 0.25rem; }
.gap-2 { gap: 0.5rem; }
.gap-3 { gap: 0.75rem; }
.gap-4 { gap: 1rem; }
.gap-5 { gap: 1.25rem; }
.gap-6 { gap: 1.5rem; }
.gap-7 { gap: 1.75rem; }
.gap-8 { gap: 2rem; }

.content {
    --bulma-content-heading-weight: var(--bulma-weight-semibold);
}

  .masonry-container {
      position: relative;
  }
  .masonry-child {
      position: absolute;
  }

.label {
    font-weight: inherit;
}

.section-label {
    font-weight: var(--bulma-label-weight);
    font-size: var(--bulma-size-normal);
    color: var(--bulma-text-strong);
    display: block;
}
.section-label + :not(p) {
    margin-top: 0.5rem;
}


.color-fat {
    color: #d1bb08;
}

.color-carbs {
    color: #e8dc8a;
}

.page-header {
    margin-bottom: var(--bulma-block-spacing);
    border-bottom: 1px solid var(--bulma-link-text);
}

.page-header p {
    color: var(--bulma-link-text);
    padding: 0.5em 1em;
    display: flex;
    font-size: var(--bulma-size-normal);
}

.unit-input {
    width: 5em;
}
.unit-input-short {
    width: 2.5em;
}
.hestia-progress-container {
    border: 1px solid var(--bulma-border-weak);
    border-radius: 9999px;
    height: 0.75rem;
    width: 100%;
    display: flex;
}

.hestia-progress-bar {
    background-color: var(--bulma-border-weak);
    border-radius: 9999px;
    margin: 1px;
}

.grid.divide-x {
    column-gap: 0;
    row-gap: 1px;
    background-color: var(--bulma-border);

    > .cell {
        background-color: var(--bulma-scheme-main);
        padding: 0.5rem;
    }
}
.grid > .cell {
    display: flex;
    align-items: center;
}

.is-bordered {
    border: 1px solid var(--bulma-border);
}
.is-bordered-weak {
    border: 1px solid var(--bulma-border-weak);
}

.has-border-top {
    border-top: 1px solid var(--bulma-border);
}
.has-border-bottom {
    border-bottom: 1px solid var(--bulma-border);
}
.has-border-left {
    border-left: 1px solid var(--bulma-border);
}
.has-border-right {
    border-right: 1px solid var(--bulma-border);
}

.has-border-top-weak {
    border-top: 1px solid var(--bulma-border-weak);
}
.has-border-bottom-weak {
    border-bottom: 1px solid var(--bulma-border-weak);
}
.has-border-left-weak {
    border-left: 1px solid var(--bulma-border-weak);
}
.has-border-right-weak {
    border-right: 1px solid var(--bulma-border-weak);
}


.has-border-x {
    border-left: 1px solid var(--bulma-border);
    border-right: 1px solid var(--bulma-border);
}
.has-border-y {
    border-top: 1px solid var(--bulma-border);
    border-bottom: 1px solid var(--bulma-border);
}

.has-border-x-weak {
    border-left: 1px solid var(--bulma-border-weak);
    border-right: 1px solid var(--bulma-border-weak);
}
.has-border-y-weak {
    border-top: 1px solid var(--bulma-border-weak);
    border-bottom: 1px solid var(--bulma-border-weak);
}

tr.border-bottom-none > td {
    border-bottom: none;
}

.unit-conversion-list-fields .input:not([readonly]) {
    --bulma-input-border-color: var(--bulma-warning);
}
.unit-conversion-list-fields p.button.dirty {
    border-color: var(--bulma-warning);
}


#insights-tab-body > .grid > .cell {
    display: block;
}

.table thead td, .table thead th {
    font-weight: var(--bulma-body-weight);
    color: var(--bulma-body-color);
}

.navbar-brand > a.navbar-item {
    background: none;
}

.field.has-addons .control:not(:first-child):not(:last-child):has(+ .tooltip) .input,
.field.has-addons .control:not(:first-child):not(:last-child):has(+ .tooltip) .button,
.field.has-addons .control:not(:first-child):not(:last-child):has(+ .addon-end) .input,
.field.has-addons .control:not(:first-child):not(:last-child):has(+ .addon-end) .button {
    border-start-end-radius:var(--bulma-control-radius);
    border-end-end-radius:var(--bulma-control-radius);
}

.field.has-addons .control:not(:first-child):not(:last-child):has(+ .tooltip) {
    margin-right: 0.5rem;
}

/* Floating UI Tooltip styles */
.tooltip-body {
  width: max-content;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 900;
}
.tooltip-trigger {
    display: inline-block;
}

.is-static-input {
    background-color: var(--bulma-scheme-main-ter);
    border-color: var(--bulma-border);
    box-shadow: none;
    color: var(--bulma-text-weak);
    pointer-events: none;
}


.field.has-addons .control:not(:first-child):not(:last-child) .button {
    border-right: 1px solid var(--bulma-background);
    margin-right: 1px;
}


p > .icon {
    vertical-align: bottom;
}
