@using Hestia.Domain.Models
@using Haondt.Core.Extensions
@using Hestia.UI.Core.Components

@attribute [RenderPage]
<div _="on load send OnNavigate(value:'MealPlans') to #navbar then remove me"></div>

@code {
    [Parameter]
    public Optional<MealPlanModel> MealPlan { get; set; }

    [Parameter]
    public Optional<int> MealPlanId { get; set; }
}

<div class="content-container mt-5">

    <!-- Mobile: Tab-based layout -->
    <div class="is-hidden-tablet"
        <div class="tabs is-fullwidth mb-5">
            <ul _="
                on setActive
                    halt the event
                    if :active is not null
                        remove .is-active from the :active's parentElement
                        add .is-hidden-mobile to :activeBody
                    end

                    set :active to the event's srcElement
                    set :activeBody to #{:active's @@data-body-id}
                    add .is-active to the :active's parentElement
                    remove .is-hidden-mobile from :activeBody
                end
                ">
                <li>
                    <a data-body-id="meal-plan-editor-panel" _="on load send setActive end on click send setActive end">
                        Meal Plan
                    </a>
                </li>
                <li>
                    <a data-body-id="meal-plan-search-panel" _="on click send setActive end">
                        Add Items
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="columns is-gapless">
        <div id="meal-plan-search-panel" class="column is-4 is-hidden-mobile">
            <div class="page-header mb-4 is-hidden-mobile">
                <p>Search items</p>
            </div>
            <EditMealPlanItemSearch/>
        </div>

        <div class="column is-hidden-mobile" id="meal-plan-editor-panel">
            <div class="page-header mb-4 is-hidden-mobile">
                <p>@MealPlan.Map(_ => "Edit").Or("New") meal plan</p>
            </div>
            <EditMealPlanPlanner />
        </div>
    </div>
</div>
