@using Hestia.UI.Core.Components
<div class="meal-plan-search">
    <div class="mb-4">
        <form hx-get="/meal-plans/search-items" hx-target="#meal-plan-search-results" hx-swap="innerHTML">
            <p class="control has-icons-left">
                <input
                    _="
                        on input debounced at 200ms
                        send submit to the closest <form />
                    "
                    class="input is-fullwidth" 
                    name="search" 
                    placeholder="search recipes and ingredients" 
                    type="search"
                    value="" />
                <span class="icon is-small is-left"><LucideIcon Name="search" /></span>
            </p>
        </form>
    </div>
    
    <div 
        id="meal-plan-search-results"
        class="is-flex is-flex-direction-column is-overflow-y-scroll pr-4"
        _="
            on load[event.target==me]
                js(me)
                    return new Sortable(me, {
                        group: {
                            name: 'shared',
                            pull: 'clone',
                            put: false  
                        },
                        sort: false,
                        animation: 100,
                        ghostClass: 'sortable-ghost',
                        chosenClass: 'sortable-chosen',
                        dragClass: 'sortable-drag',
                        handle: '.drag-container'
                    });
                end
                set :sortable to it
            end

            on htmx:beforeCleanupElement[event.target==me]
                set sortable to :sortable
                js(sortable)
                    if (sortable) {
                        sortable.destroy();
                    }
                end
            end
        ">
    </div>
</div>
