/* Layout containers */
.meal-planner {
    border: 1px solid var(--bulma-border);
    border-radius: var(--panel-radius);
    padding: 1rem;
    .sortable-ghost {
        --bulma-border-weak: var(--bulma-link);
        .select > select {
            --bulma-input-border-color: var(--bulma-link);
        }
    }
    * {
        transition-duration: var(--bulma-duration);
        transition-property: background-color, border-color, box-shadow, color;
    }

}
.meal-plan-insights {
    border: 1px solid var(--bulma-border);
    border-radius: var(--panel-radius);
    padding: 1rem;
}

.meal-plan-editor-panel, #meal-plan-insights-panel {
    margin:auto;
    max-width: 800px;
}
.meal-plan-item-picker {
    border: 1px solid var(--bulma-border);
    background: var(--bulma-body-background-color);
    border-radius: var(--panel-radius);
    padding: 1rem;
    height: 500px;
    max-height: calc(100vh - calc(var(--bulma-modal-content-spacing-tablet) + 50px));
    min-height: 200px;
    display: flex;
    flex-direction: column;

}

.meal-plan-item-configurator {
    border: 1px solid var(--bulma-border);
    background: var(--bulma-body-background-color);
    border-radius: var(--panel-radius);
    padding: 1rem;
    min-height: 200px;
    display: flex;
    flex-direction: column;
}

.meal-plan-search-results-scroll-container {
    height: 100%;
    overflow-y: scroll;
    padding-right: 1rem;
}

#meal-plan-search-results {
    gap: 1rem;
}

/* Base components */
.meal-plan-item {
    margin-bottom: 1rem;
    display: flex;
    align-items: stretch;

    .meal-plan-item-name {
        padding: 7px 11px;
        color: var(--bulma-text-strong);
        border: 1px solid var(--bulma-border-weak);
        border-bottom-left-radius: var(--bulma-radius);
        border-top-left-radius: var(--bulma-radius);
        flex-grow: 1;
    }
    .meal-plan-item-name:hover {
        border: 1px solid var(--bulma-grey-dark);
        cursor: pointer;
    }

    .meal-plan-content & {
        position: relative;
        border: none;

        .section-label {
            font-weight: var(--bulma-text-weight);
        }
    }

    .drag-container {
        flex: 0 0 50px;
        border-top: 1px solid var(--bulma-border-weak);
        border-bottom: 1px solid var(--bulma-border-weak);
        border-right: 1px solid var(--bulma-border-weak);
        border-end-end-radius: var(--bulma-radius);
        border-start-end-radius: var(--bulma-radius);
    }

}

/* planner view */
.meal-plan-content {
    .is-hidden-meal-plan-content {
        display: none !important;
    }
}

.meal-plan-item-container-container {
    padding-left: 1rem;
    border-left: 1px solid var(--bulma-border-weak);
}


/* Mobile */
@media screen and (max-width: 768px) {
    .meal-plan-item-container-container {
        padding-left: 0;
        border-left: none;
    }

    .meal-planner {
        border: none;
        padding: 0.25rem;
    }
    .meal-plan-insights {
        border: none;
        padding: 0.25rem;
    }

    .meal-plan-editor-panel, #meal-plan-insights-panel {
        margin:auto;
        max-width: initial;
    }
    .meal-plan-item-picker {
        height: 500px;
        max-height: 40vh;
    }
}
