@using Hestia.Domain.Models
@attribute [RenderPage]

@code {
    [Parameter, EditorRequired]
    public required UnitConversionList UnitConversionList { get; set; }
}

<div _="on load send OnNavigate(value:'NoNavigation') to #navbar then remove me"></div>

<div class="content-container mt-5">
    <div class="tabs">
        <ul>
            <li class="is-active">
                <a>Settings</a>
            </li>
        </ul>
    </div>
    <div id="settings-form" class="control">
        <div class="mt-5">
            <ObjectComponentT Component="@UnitConversionList"/>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public IEnumerable<UnitConversionModel> Conversions { get; set; } = new List<UnitConversionModel>();
}
