@attribute [RenderPage]
<div _="on load send OnNavigate(value:'NoNavigation') to #navbar then remove me"></div>

<div class="content-container mt-5">
    <div class="page-header">
        <p>Settings</p>
    </div>
    <form id="settings-form" class="control" >
        <p>This is the settings page. More content will be added here.</p>
    </form>
</div>
