@using Haondt.Web.BulmaCSS.Services
@using Hestia.UI.Library.Components.Element
@code {
    [Parameter, EditorRequired]
    public required IComponent Content { get; set; }
}

<div id="body-content">
    <div id="toast-relay"></div>
    <div id="modal-container" class="modal"></div>
    <div 
        hx-trigger="toastRelay"
        hx-get="/fragments/toast"
        id="toast-relay"
        hx-vals='js:{"message": event.detail.message, "severity": event.detail.severity || "@ToastSeverity.Info"}'
    ></div>
    <ToastContainer />
    <div id="navigation-container">
        @if (Content.GetType().GetCustomAttributes(typeof(BareLayoutAttribute), false).Length == 0)
        {
            <NavigationBar />
        }
    </div>
    <div id="page-container">
        <ObjectComponent Component="@Content"/>
    </div>
    <div style="height:5rem;"></div>
</div> 
