<nav class="navbar" id="navbar"
    _="on OnNavigate 
        for anchor in .navbar-item in (the first .navbar-start in me)
            if anchor's innerHTML == the event's detail.value
                add .is-active to anchor
            else
                remove .is-active from anchor
    ">
    <div class="navbar-brand">
        <div class="navbar-item">
            <p class="subtitle is-3 has-text-primary">HESTIA</p>
        </div>

        <a class="navbar-burger">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </a>
    </div>

    <div class="navbar-menu">
        <div class="navbar-start">
            <a
                href="/ingredients"
                hx-boost="true"
                hx-target="#page-container"
                class="navbar-item is-tab">Ingredients</a>
            <a
                href="/recipes"
                hx-boost="true"
                hx-target="#page-container"
                class="navbar-item is-tab">Recipes</a>
        </div>
        <div class="navbar-end">
            <a
                href="/settings"
                hx-boost="true"
                hx-target="#page-container"
                class="navbar-item is-tab">Settings</a>
        </div>
    </div>
</nav>