@using Hestia.Domain.Models
@using Hestia.UI.MealPlans.Components
@code {
    [Parameter]
    public Optional<MealPlanModel> MealPlan { get; set; }
}

<div class="is-flex is-flex-direction-row is-align-items-flex-end">
    <p class="section-label pb-2 mr-4">Meal plan</p>
    <div class="meal-plan-selector mt-0">
        <p class="meal-plan-label">Meal Plan #0</p>
        <p class="has-text-danger is-clickable">Clear</p>
    </div>
</div>