@using Haondt.Core.Models
@using Haondt.Core.Extensions
@using Hestia.UI.Library.Components.Element
@code {
    [Parameter]
    public RenderFragment? Header { get; set; } = default;

    [Parameter]
    public RenderFragment? Image { get; set; } = default;

    [Parameter]
    public RenderFragment? Content { get; set; } = default;

    [Parameter]
    public Optional<string> ContentClasses { get; set; } = default;

    [Parameter]
    public Optional<string> Classes { get; set; } = default;

    /// <summary>
    /// Each item in here should have the "card-footer-item" class."
    /// </summary>
    [Parameter]
    public RenderFragment? Footer { get; set; } = default;
}
<div class="card @Classes.Unwrap()">
    @if(Header is not null) 
    {
        <header class="card-header">
            @Header
        </header>
    }

    @if (Image is not null)
    {
        <div class="card-image">
            <figure class="image is-3by2">
                @Image
            </figure>
        </div>
    }

    @if (Content is not null)
    {
        <div class="card-content @ContentClasses.Unwrap()">
            @Content
        </div>
    }

    @if (Footer is not null)
    {
        <footer class="card-footer">
            @Footer
        </footer>
    }

</div>