
@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; } 
}


<div 
    id="modal-container"
    class="modal is-active is-justify-content-flex-start pt-6"
    hx-swap-oob="true">
    <div 
        class="modal-background"
        _="
            on click
                remove .is-active from #modal-container
                set #modal-container's innerHTML to ''
            end
            on keydown(key) from elsewhere
                if the key is 'Escape'
                    send click to me
                end
            end
        "></div>
    <div class="modal-content" _="on closeModal send click to the previous .modal-background">
        @ChildContent
    </div>
    <button
        _="on click send click to the previous .modal-background"
        class="modal-close is-large is-primary"></button>
</div>
